h1, h2{
    margin: 30px 30px 30px 30px;
    color: #800000;
}

h1{
    font-size: 400%;
    text-align: center;
    text-shadow: 2px 2px black;
}

.flash{
    text-align: center;
    color: crimson;
    font-style: italic;
    font-weight: bold;
}

.form-group{
    font-size: 150%;
    width: 100%;
    color: #800000;
    font-weight: bold;
}

.btn-primary{
    float: right;
}

a {
    color:#0000cc;
    font-weight: bold;
    margin: 0 2rem;
}

.direc{
    background:rgba(255, 238, 230,0.6);
}

.desc{
    font-size:115%;
    text-align: center;
    text-shadow: 0.3px 0.3px black;
}

p {
    text-shadow: 0.3px 0.3px black;
}

html{
    background-image: url("http://images.all-free-download.com/images/graphicthumb/fast_food_background_various_symbols_sketch_repeating_design_6828045.jpg");
}

body{
    background:rgba(255, 238, 230,0.6);
}

#homebtn{
    margin-top: 1rem;
    float: right;
}

.btn-primary{
    background-color:#800000;
    border: none;
}

.btn-primary:hover{
    background-color:#F0F3F5;
    color:#800000;
}

.btn-primary.focus,.btn-primary:focus{
    box-shadow:0 0 0 .2rem rgba(128,0,0,.5)
}

.btn-primary.disabled,.btn-primary:disabled{
    background-color:white;
    border-color:#800000;
}

.btn-primary:not([disabled]):not(.disabled).active,.btn-primary:not([disabled]):not(.disabled):active,.show>.btn-primary.dropdown-toggle{color:#fff;background-color:#800000;border-color:#005cbf;box-shadow:0 0 0 .2rem rgba(128,0,0,.5)}

.card{
    width: 100%;
    margin:0
}