<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
    <title> Eatables </title>
  </head>
  <body class="col-md-6 mx-auto">
  {% block body %}
    <h1> Welcome to Eatables! </h1>
    <div class="desc">
      <p> We are a website dedicated to helping you find the perfect place to go out to eat. We just need your address to find restaurants near you, and you may search if you're in the mood for something specific. Enter these fields, and you'll be on your way!</p>
    </div>
    <!-- flash errors -->
    <div class="flash">
    {% set messages = get_flashed_messages() %}
        {% for message in messages %}
            {{message}} <br>
        {% endfor %}
    </div>
    
    <form method='POST' action="/results">
      <div class="form-group">
	<label for="address">Please enter your current address.</label>
	<input type="text" class="form-control" name="address" placeholder="Street Address">
	<input type="text" class="form-control" name="city" placeholder="City">
	<input type="text" class="form-control" name="state" placeholder="State">
	<input type="text" class="form-control" name="zip" placeholder="ZIP Code">
      </div>
      
      <div class="form-group">
	<label for="search"> What are you in the mood for? </label>
	<input type="text" class="form-control" name="search" placeholder="Thai, Chinese, etc.">
	<br>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  {% endblock %}
  </body>
</html>

