{% extends "results.html" %}

{% block body %}

<!--
Pass in a dictionary named restaurant with the following:

{
	name: <restaurant name>,
	rating: ,
	address: ,
	menu: ,
	cuisines: ,
	numRewiews: ,
	distance: ,
	travelDuration: ,
	directions: [
		<list of strings>
	]
}
-->

<h1> {{restaurant.name}} </h1>

<h4 style="text-align: center;"> {{restaurant.address}} </h4>

<div class="container">
  <div class="row">
    <div class="col">
      <p style="text-align: center;"> Rating: {{restaurant.rating}} stars</p>
    </div>
    <div class="col">
      <p style="text-align: center;"> {{restaurant.distance}} ({{restaurant.travelDuration}} minutes) away</p>
    </div>
  </div>
</div>

<p style="text-align: center;"> Cuisines offered: {{restaurant.cuisines}} </p>

<a href={{restaurant.menu}}> Menu link</a>

<div class="direc">
<h2> Directions: </h2>
<ol class="steps">
{% for step in restaurant.directions %}
  <!--so jinja won't convert the html to literal string-->
  <li class="step">{{step|safe}}</li>
{% endfor %}
</ol>
</div>
<br>
{% endblock %}
